$body_background: #fff;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;background:transparent;vertical-align:baseline;font-size:100%;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-weight:bold;font-style:italic;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-spacing:0;border-collapse:collapse;}
hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #ccc;}
input,select{vertical-align:middle;}
small {font-size: 80%;}

/* general */
::selection {background: #fff666 !important;} 

body {
	margin: 15px auto;
	/*padding-left: 2em;
	padding-right: 2em;*/
	max-width: 900px;
	/*width: 75%;*/
	background-color: $body_background;
	word-wrap: break-word;
	font-size: 100%;
	text-rendering: optimizeLegibility;
}

.top {
	margin-top: 2.5em; /* 40 / 16 */
	margin-bottom: 4.375em; /* 70 / 16 */
	text-align: center;
	
	h1 {
		/*display: inline-block;*/
		vertical-align: middle;
		font-weight: normal;
		font-size: 0.9em;
		font-family: 'PT Serif', sans-serif;
		line-height: 1.1em;
	}
	
	h1 a {
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid black;
	}
	
	h1 a:hover {
		color: #000;
	}
	
/*	menu {
		margin-top: 1.25em /* 20 / 16 *!/;
	
		a {
			border-bottom: 1px solid #c6c6c6;
			color: #000;
			text-decoration: none;
		}
		
		a:hover {
			border-bottom: 1px solid #000;
		}
		
		li {
			display: inline-block;
			margin: 0 0.625em 0.9375em 0.625em; /* 10 / 16, 15 / 16 *!/
			font-size: 1.0625em /* 17 / 16 *!/;
		}
		
	}*/
	
}

img.avatar  {
	margin-right: 1em;
	margin-bottom: 1.7em;
	width: 80px;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease-in-out;
	@include border-radius(60px);
	/*display: inline-block;*/
	
}

img.avatar:hover {
		opacity: 0.8;
	 /* -webkit-filter: brightness(15%) grayscale(80%); */
}

.posts {
	
	article {
		margin-bottom: 5em; /* 80 / 16 */
		font-family: 'PT Serif', serif;
		font-size: 1.0625em; /* 17 / 16 */
		line-height: 1.65em; /* 33 / 20 */
		
		a {
			color: #23297d;
			text-decoration: none;
			border-bottom: 1px solid rgba(35, 41, 125, 0.4);
		}
		
		a:visited {
			color: #561774;

		}
		
		header {
			text-align: center;
			font-family: 'PT Serif', serif;
			
			h2 {
				color: #000;
				font-weight: normal;
				font-size:  1.5em; /* 30 / 20 */
				line-height: 1.315em; /* 25 / 19 */
				
				a, a:visited {
					border: 0;
					color: #000;
					text-decoration: none;
				}
			}
			
			time {
				display: block;
				color: #666;
				font-size: 0.65em; /* 12 / 19 */
				line-height: 1.789em; /* 34 / 19  */
			}
			
		}
		
		img {
			display: block;
			/* margin: auto; */ /* center all post images */
			margin-top: 0.7em;
			max-width: 100%;
		}
		
		h3 {
			text-align: center;
			font-size:  1.25em; /* 25 / 20 */
		}
		
	}	
	
}

p {
	margin: 1.1em 0 1.1em 0;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.archive-list {
	list-style: none;
	
	li {
		margin-bottom: 10px;
		}
}

.archive-time {
	margin-left: 10px;
	color: #9e9c9c;
	font-size: 70%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		.avatar {
		/* background: url('arthat_@2x.jpg') no-repeat; */
		/* background-size: 120px 120px; */
		}
		
	}

/* smaller screens, tablets, iPad */ 
@media only screen and (max-width: 900px) {
	body {
		max-width: 620px;
		font-size: 90%;
	}
	
}

/* smartphone-sized screens, iPhone */ 
@media only screen and (max-width : 620px) {
	body {
		max-width: 270px;
		font-size: 80%;
	}
}
